@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
   

}

body {
    background-image: url(fundocardapio.png);
}



.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;


}

.cabecalhomenufoto {
    height: 72px;


}

.cabecalhomenuitem {
    font-family: 'Concert One', cursive;
    color: #ffffff ;
    text-shadow: 2px 2px 10px rgb(214, 214, 214);
    font-weight: 400;
    font-size: 20px;
   
    

   
    
}

.conteudoprincipalescritotitulo {
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    gap: 22px;
    font-family: 'Concert One', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #ffd54b;
    text-shadow: 2px 2px 10px rgb(88, 88, 88);
    
}


.conteudoprincipalescritosubtitulo {
    font-family: 'Concert One', cursive;
    font-weight: 400;
    font-size: 20px;
    color: rgb(242, 98, 255);
    text-shadow: 2px 2px 10px rgb(190, 190, 190);
    margin-left: 30%;
    margin-top: 2px;
    
}

.conteudoprincipalescritobotao {
    font-family: 'Sarala', sans-serif;
    background: #FF78CC;
    border: 0;
    color: white;
    padding: 0.2em 0.6em;
    width: 200px;
    height: 45px;
    box-shadow: 2px 2px 2px rgb(78, 78, 78);
    text-shadow: 1px 1px 1px rgb(78, 78, 78);
    border-radius: 20px;
    margin-top: 3%;
    margin-left: 35%;


}

.conteudoprincipalescritobotao:hover{
    background: rgb(255, 208, 53);
    box-shadow: inset 2px 2px 2px rgb(44, 44, 44);
    text-shadow: none;

  
    
}